 {% extends 'abase.html' %}
{% block content%}
<div class="container-fluid mt-4">
    <!-- Admin Dashboard Welcome Section -->
    <div class="jumbotron text-center p-5">
        <h1 class="display-4">Admin Dashboard</h1>
        <p class="lead">Manage the Mahatma Gandhi University Undergraduate Programmes (Honours) 2024</p>
        <hr class="my-4" style="border-color: #b03a2e;">
        <p>Streamline course registrations, and student enrollment under the New Curriculum and Credit Framework, 2024.</p>
    </div>
</div>
{% endblock %}